Flask==3.0.3
sqlalchemy==2.0.25
pymysql==1.1.0
cryptography>=3.4.8
dnspython==2.4.2
gunicorn==23.0.0
pillow==11.0.0
torch==2.5.1
torchvision==0.20.1
flask_cors==5.0.0
timm==1.0.12
requests==2.32.3
tqdm==4.66.2
